.register-panel{
	margin-top: 10px;
}
.note{
	font-style: italic;
	font-size: 12px;
	font-weight: bold;
}
.panel-body{
	border: 1px solid #d5d5d5;
}
.agree-panel, .submit-btn{
	margin-top: 15px;
}
.agree{
	font-size: 12px;
	font-weight: bold;
}